<a href="https://colab.research.google.com/github/aditichauhan2k3/Aditi-DataScienceHub/blob/main/EDA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.simplefilter('ignore')

## 1. Data Exploration and Preprocessing:

Load the dataset and conduct basic data exploration (summary statistics, missing values, data types).

In [ ]:
df = pd.read_csv("/content/adult_with_headers.csv")
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
print("Length of the Dataset :" +str(len(df)))

Length of the Dataset :32561

In [ ]:
df.shape

(32561, 15)

In [ ]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [ ]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

Handle missing values as per the best practices (imputation, removal, etc.).

In [ ]:
df.dropna()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
# Example: Impute missing values
categorical_cols = df.select_dtypes(include='object').columns
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

for col in numerical_cols:
    df[col].fillna(df[col].median(), inplace=True)

Apply scaling techniques to numerical features:

Standard Scaling

Min-Max Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [ ]:
from sklearn.preprocessing import MinMaxScaler

minmax_scaler = MinMaxScaler()
df[numerical_cols] = minmax_scaler.fit_transform(df[numerical_cols])

Discuss the scenarios where each scaling technique is preferred and why.

Answer :-
Standard Scaling
    Preferred if data is roughly Gaussian.Ensures each feature contributes equally in models sensitive to variance.

Min-Max Scaling : -
    Preferred when distribution is not normal.Preserves shape of the original distribution but compresses into [0,1].
Useful when algorithm relies on absolute magnitudes.

## 2. Encoding Techniques:

Apply One-Hot Encoding to categorical variables with less than 5 categories.

In [ ]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder

onehot_cols = [col for col in categorical_cols if col in df.columns and df[col].nunique() <= 5]
df = pd.get_dummies(df, columns=onehot_cols, drop_first=True)

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,capital_gain,capital_loss,hours_per_week,native_country,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Male,income_ >50K
0,0.301370,State-gov,0.044302,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,0.02174,0.0,0.397959,United-States,False,False,False,True,True,False
1,0.452055,Self-emp-not-inc,0.048238,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,0.00000,0.0,0.122449,United-States,False,False,False,True,True,False
2,0.287671,Private,0.138113,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,0.00000,0.0,0.397959,United-States,False,False,False,True,True,False
3,0.493151,Private,0.151068,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,0.00000,0.0,0.397959,United-States,False,True,False,False,True,False
4,0.150685,Private,0.221488,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,0.00000,0.0,0.397959,Cuba,False,True,False,False,False,False

Label Encoding (>5 categories)

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Only include columns that exist in df and have >5 unique values
label_cols = [col for col in categorical_cols if col in df.columns and df[col].nunique() > 5]

le = LabelEncoder()
for col in label_cols:
    df[col] = le.fit_transform(df[col])

## Discuss the pros and cons of One-Hot Encoding and Label Encoding.
Advantages and Disadvantages of One Hot Encoding

Advantages of Using One Hot Encoding
1.  It allows the use of categorical variables in models that require numerical input.
2.  It can improve model performance by providing more information to the model about the categorical variable.
3.  It can help to avoid the problem of ordinality which can occur when a categorical variable has a natural ordering (e.g. "small", "medium", "large").

Disadvantages of Using One Hot Encoding
1.  It can lead to increased dimensionality as a separate column is created for each category in the variable. This can make the model more complex and   slow to train.
2.  It can lead to sparse data as most observations will have a value of 0 in most of the one-hot encoded columns.
3.  It can lead to overfitting especially if there are many categories in the variable and the sample size is relatively small.

Advantages and Disadvantages of Label Encoding
1.  Encoding ordinal features: Numbers can capture the inherent order of categories.
2.  Using tree-based algorithms: Models like decision trees or random forests are insensitive to numerical order assumptions.
3.  Memory efficiency is critical: Each category is stored as a single integer, unlike one-hot encoding which expands data into multiple columns.

Disadvantages :
1.  Nominal data misinterpretation: Encoded integers can imply false order; one-hot encoding is safer for nominal features.
    Missing values: These must be handled prior to encoding.
2.  Unseen categories in test data: Encoders will fail if new categories appear; handle this with a default value or ensure training includes all possible categories.
3.  High cardinality: Features with many unique categories may still require additional feature engineering.

## 3. Feature Engineering:

Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices.

In [ ]:
df['hours_per_week_log'] = df['hours_per_week'] * df['education_num']  # Example

In [ ]:
df['capital_gain_ratio'] = df['capital_gain'] / (df['capital_gain'] + df['capital_loss'] + 1)

Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.

In [ ]:
# Capital net feature
print(df['capital_gain'].skew())


# Log transformation
import numpy as np
df['capital_gain_log'] = np.log1p(df['capital_gain'])

11.953847687699781

4. Feature Selection:

Use the Isolation Forest algorithm to identify and remove outliers. Discuss how outliers can affect model performance.

In [ ]:
from sklearn.ensemble import IsolationForest

iso = IsolationForest(contamination=0.01, random_state=42)
outliers = iso.fit_predict(df[numerical_cols])
df['outlier'] = outliers
df = df[df['outlier'] == 1]  # Keep non-outliers

In [ ]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country',
       'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White',
       'sex_ Male', 'income_ >50K', 'hours_per_week_log', 'capital_gain_ratio',
       'capital_gain_log', 'outlier'],
      dtype='object')

Apply the PPS (Predictive Power Score) to find and discuss the relationships between features. Compare its findings with the correlation matrix.

In [ ]:
import sys
!{sys.executable} -m pip install ppscore
import ppscore as pps

# Correlation matrix
corr = df.corr()
print(corr['income_ >50K'])  # Relationship with target

# PPS matrix
pps_matrix = pps.matrix(df)
print(pps_matrix[pps_matrix['y']=='income_ >50K'])

Collecting ppscore
  Downloading ppscore-1.3.0.tar.gz (17 kB)
  Preparing metadata (setup.py) ... done
Collecting pandas<2.0.0,>=1.0.0 (from ppscore)
  Downloading pandas-1.5.3.tar.gz (5.2 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 5.2/5.2 MB 47.6 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in /usr/local/lib/python3.12/dist-packages (from ppscore) (1.6.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.12/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.12/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2025.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.17.0)
Building wheels for collected packages: ppscore, pandas
  Building wheel for ppscore (setup.py) ... done
  Created wheel for ppscore: filename=ppscore-1.3.0-py2.py3-none-any.whl size=13166 sha256=302ceadc08c33557d92bfb050a751d429bf28b9a3bab69dfd785919ea9906eff
  Stored in directory: /root/.cache/pip/wheels/30/1c/06/b724ffb08ed69cd209743b44137306245ebbf025fd9acacf0c
  Building wheel for pandas (pyproject.toml) ... done
  Created wheel for pandas: filename=pandas-1.5.3-cp312-cp312-linux_x86_64.whl size=41460932 sha256=c3f16ebaee8d818da0685eb583b163db41824d25c826aed694b60373b7d9156e
  Stored in directory: /root/.cache/pip/wheels/fb/83/18/8e7307aa1185c5498c5490e4d9c8a1732d9f1056e86c3491c6
Successfully built ppscore pandas
Installing collected packages: pandas, ppscore
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 1.5.3 which is incompatible.
geopandas 1.1.1 requires pandas>=2.0.0, but you have pandas 1.5.3 which is incompatible.
esda 2.8.0 requires pandas>=2.1, but you have pandas 1.5.3 which is incompatible.
arviz 0.22.0 requires pandas>=2.1.0, but you have pandas 1.5.3 which is incompatible.
plotnine 0.14.5 requires pandas>=2.2.0, but you have pandas 1.5.3 which is incompatible.
access 1.1.10.post3 requires pandas>=2.1.0, but you have pandas 1.5.3 which is incompatible.
momepy 0.10.0 requires pandas>=2.0, but you have pandas 1.5.3 which is incompatible.
mapclassify 2.10.0 requires pandas>=2.1, but you have pandas 1.5.3 which is incompatible.
mizani 0.13.5 requires pandas>=2.2.0, but you have pandas 1.5.3 which is incompatible.
inequality 1.1.2 requires pandas>=2.1, but you have pandas 1.5.3 which is incompatible.
spopt 0.7.0 requires pandas>=2.1.0, but you have pandas 1.5.3 which is incompatible.
xarray 2025.12.0 requires pandas>=2.2, but you have pandas 1.5.3 which is incompatible.
Successfully installed pandas-1.5.3 ppscore-1.3.0
age                         0.228907
workclass                   0.048180
fnlwgt                     -0.010217
education                   0.076781
education_num               0.326149
marital_status             -0.198139
occupation                  0.074256
relationship               -0.248573
capital_gain                0.309171
capital_loss                0.147054
hours_per_week              0.224111
native_country              0.016644
race_ Asian-Pac-Islander    0.009379
race_ Black                -0.087336
race_ Other                -0.032277
race_ White                 0.084295
sex_ Male                   0.214057
income_ >50K                1.000000
hours_per_week_log          0.366137
capital_gain_ratio          0.317669
capital_gain_log            0.314397
outlier                          NaN
Name: income_ >50K, dtype: float64
                            x             y   ppscore            case  \
17                        age  income_ >50K  0.026381  classification
39                  workclass  income_ >50K  0.094949  classification
61                     fnlwgt  income_ >50K  0.000000  classification
83                  education  income_ >50K  0.239615  classification
105             education_num  income_ >50K  0.239615  classification
127            marital_status  income_ >50K  0.000000  classification
149                occupation  income_ >50K  0.049718  classification
171              relationship  income_ >50K  0.000000  classification
193              capital_gain  income_ >50K  0.265112  classification
215              capital_loss  income_ >50K  0.146513  classification
237            hours_per_week  income_ >50K  0.015696  classification
259            native_country  income_ >50K  0.015102  classification
281  race_ Asian-Pac-Islander  income_ >50K  0.000000  classification
303               race_ Black  income_ >50K  0.000000  classification
325               race_ Other  income_ >50K  0.000000  classification
347               race_ White  income_ >50K  0.000000  classification
369                 sex_ Male  income_ >50K  0.000000  classification
391              income_ >50K  income_ >50K  1.000000  predict_itself
413        hours_per_week_log  income_ >50K  0.298792  classification
435        capital_gain_ratio  income_ >50K  0.265112  classification
457          capital_gain_log  income_ >50K  0.265112  classification
479                   outlier  income_ >50K  0.000000  classification

     is_valid_score       metric  baseline_score  model_score  \
17             True  weighted F1        0.654198     0.663320
39             True  weighted F1        0.654198     0.687031
61             True  weighted F1        0.654198     0.646285
83             True  weighted F1        0.654198     0.737057
105            True  weighted F1        0.654198     0.737057
127            True  weighted F1        0.654198     0.654099
149            True  weighted F1        0.654198     0.671390
171            True  weighted F1        0.654198     0.654198
193            True  weighted F1        0.654198     0.745874
215            True  weighted F1        0.654198     0.704862
237            True  weighted F1        0.654198     0.659625
259            True  weighted F1        0.654198     0.659420
281            True  weighted F1        0.654198     0.654198
303            True  weighted F1        0.654198     0.654198
325            True  weighted F1        0.654198     0.654198
347            True  weighted F1        0.654198     0.654198
369            True  weighted F1        0.654198     0.654198
391            True         None        0.000000     1.000000
413            True  weighted F1        0.654198     0.757521
435            True  weighted F1        0.654198     0.745874
457            True  weighted F1        0.654198     0.745874
479            True  weighted F1        0.654198     0.654198

                        model
17   DecisionTreeClassifier()
39   DecisionTreeClassifier()
61   DecisionTreeClassifier()
83   DecisionTreeClassifier()
105  DecisionTreeClassifier()
127  DecisionTreeClassifier()
149  DecisionTreeClassifier()
171  DecisionTreeClassifier()
193  DecisionTreeClassifier()
215  DecisionTreeClassifier()
237  DecisionTreeClassifier()
259  DecisionTreeClassifier()
281  DecisionTreeClassifier()
303  DecisionTreeClassifier()
325  DecisionTreeClassifier()
347  DecisionTreeClassifier()
369  DecisionTreeClassifier()
391                      None
413  DecisionTreeClassifier()
435  DecisionTreeClassifier()
457  DecisionTreeClassifier()
479  DecisionTreeClassifier()